nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #4d637a;
  border-radius: 5px;

}

.card {
  margin-top: 3rem;
  text-align: center;
}

.logo-img {
  width: 100vh;
  height: 35vh;
  display: block;
  margin: 0 auto;
}